$font: Arial, Helvetica, sans-serif;
$text-color: #333333;
$text-color-for-scroll: rgb(242, 242, 242);
$btn-background-color: rgb(0, 194, 181);
$inputs-background-color: #e6e6e6;
$background-color-features: rgb(244, 237, 227);


$color-basic-plan: #737373;
$color-premium-plan: #cc0000;
$color-business-plan:  #1a1a1a;
$background-btn-premium: rgb(75, 164, 65);


